<%- include('partials/header'); -%>

  <!-- First screen -->
  <section class="main-banner2">
    <div class="main-banner">
      <div class="container">
        <div class="col-8 first-screen-container2">
          <span>
            <p class="sub-p">Демонтаж будинків</p>
            <p class="sub-sub-p">Плануєте купити чудову ділянку? Але сумніваєтеся, <br>бо там старий будинок. Не відмовляйтеся від своєї мрії.<br> Ми допоможемо це вирішити.</p>
          </span>
        </div>
      </div>
    </div>
  </section>

  <!-- slider -->
  <section class="slider">
    <h2 class="category-title">Ми демонтуємо будинок в найкоротші терміни</h2>
    <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://d2kq0urxkarztv.cloudfront.net/5bacc4ea2784d90088bf05a2/2302595/upload-2a8adecc-4bf4-43ed-b5b9-c8a61539fa85.jpg?e=webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://d2kq0urxkarztv.cloudfront.net/5bacc4ea2784d90088bf05a2/2302595/upload-92853002-a3ae-4ffa-88c3-0f00f78918e3.jpg?e=webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://d2kq0urxkarztv.cloudfront.net/5bacc4ea2784d90088bf05a2/2302595/upload-43fff7e9-8fe7-4c87-8596-f94a7e1fc308.jpg?e=webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://d2kq0urxkarztv.cloudfront.net/5bacc4ea2784d90088bf05a2/2302595/upload-bbf78c81-1490-4ccd-a05b-b872a4ab7115.jpg?e=webp" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </section>


  <!-- перевага 2  -->
    <%- include('partials/section-plus3'); -%>
  


  <!-- перевага -->
  <%- include('partials/section-plus2'); -%>




  <!-- перевага  -->
  <%- include('partials/section-plus'); -%>


  <!-- Call to action -->
  <%- include('partials/call-to-action'); -%>


<%- include('partials/footer'); -%>
