<%- include('partials/header'); -%>

<!-- First screen -->

<section id="first-screen" class="main-banner2">
   <div class="main-banner">
     <div class="col-4 first-screen-container">
      <img src="images/LOGO-final.svg?example=foo&sanitize=true" alt="demontage-logo" class="d-inline-block align-text-top" style="width: 450px;">
      <h1 class="">демонтуємо заради майбутнього</h1>
      <a class="btn btn-primary" href="#">Більше про нас</a>
    </div>
    </div>
</section>

 <!-- category  житловий ДЕМОНТАЖ-->
<div class="container">
<section class="category-section">
<h2 class="category-title">Житловий демонтаж</h2>
<div class="category-masonary">
    <div class="row row-cols-md-1 row-cols-lg-2">
      <div class="col" >
       <div class="сategory big-block-category">
         <a class="category-name cn-big" href="/category">
           Демонтаж будинків,<br>
            дач, гаражів
         </a>
       </div>
     </div>
     <div class="col" >
       <div class="row">
           <div class="col">
             <div class="сategory small-category">
            <a class="category-name cn-small" href="/category">
              Демонтаж<br>
               фундаменту
             </a>
             </div>
           </div>

           <div class="col">
             <div class="сategory small-category">
            <a class="category-name cn-small" href="/category">Демонтаж парканів</a>
             </div>
           </div>
       </div>
       <div class="row">
           <div class="col">
             <div class="сategory small-category">
            <a class="category-name cn-small" href="/category">Очистка ділянок</a>
             </div>
           </div>

           <div class="col">
             <div class="сategory small-category">
            <a class="category-name cn-small" href="/category">Демонтаж дахів</a>
             </div>
           </div>
        </div>
     </div>

    </div>
</div>
</section>

<!-- category  ПОБУТОВИЙ ДЕМОНТАЖ-->
<section class="category-section">
<h2 class="category-title">Побутовий демонтаж</h2>
<div class="category-masonary">
   <div class="row row row-cols-md-1 row-cols-lg-2 сm-right">
     <div class="col" >
      <div class="сategory big-block-category">
        <a class="category-name cn-big" href="/category">
          Перепланування<br>
           квартири</a>
      </div>
    </div>
    <div class="col" >
      <div class="row">
        <div class="col">
          <div class="сategory small-category">
            <a class="category-name cn-small" href="/category">Підготовка до ремонту</a>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-6">
            <div class="сategory small-category">
           <a class="category-name cn-small" href="/category">
             Проріз отворів у<br>
              у несучих стінах
            </a>
            </div>
          </div>

          <div class="col-6">
            <div class="сategory small-category">
           <a class="category-name cn-small" href="/category">Демонтаж балконів</a>
            </div>
          </div>
       </div>
    </div>


   </div>
</div>

</section>

<!-- category  ПРОМИСЛОВИЙ ДЕМОНТАЖ-->
<section class="category-section">
<h2 class="category-title">Промисловий демонтаж</h2>
<div class="category-masonary">
   <div class="row row-cols-md-1 row-cols-lg-2">
     <div class="col" >
      <div class="сategory big-block-category">
        <a class="category-name cn-big" href="/category">
          Демонтаж<br>
          промислових об'єктів
        </a>
      </div>
    </div>
    <div class="col" >
      <div class="row">
          <div class="col">
            <div class="сategory small-category">
           <a class="category-name cn-small" href="/category">Демонтаж металоконструкцій</a>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col">
            <div class="сategory small-category">
           <a class="category-name cn-small" href="/category">Демонтаж бетонних конструкцій</a>
            </div>
          </div>

       </div>
    </div>
   </div>
</div>
</section>
</div>


<%- include('partials/about-block'); -%>


<%- include('partials/section-plus'); -%>


<%- include('partials/testmonials'); -%>

<%- include('partials/call-to-action'); -%>


<%- include('partials/footer'); -%>
